@font-face {
    font-family: "Roboto-Regular";
    src: url('../../../Fonts/Roboto-Regular_0.ttf');
  }
.header-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    background-color:transparent;
    font-family: "Roboto-Regular";
    justify-content: space-evenly;
}

.logo {
    width: 10%;
    height: 50px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;

}
.links p{
    margin: 0;
}

.icons {
    font-size: 13px !important;
    margin-top: 3px;
}
.btn-header{
    background-color: transparent;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    outline: none;
}