
.closed-menu{
    width: 100%;
    max-width: 90%;
    height: 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0px 20px;
}
.closed-hamb{
    width: 45px;
    height: 35px;
    background-color: transparent;
}
.logo {
    width: 40%;
    height: 40%;
    cursor: pointer;
}
.logo-open-menu {
    width: 40%;
    height: 10%;
    left: 55%;
    cursor: pointer;
    position: fixed;
}
.menu-open{
    width: 150px;
    height: 200px;
    padding: 15px 20px 40px 50px;
    background-color:#29abe2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.close-menu{
    width: 100%;
    height: 15px;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}
.opened-hamb{
    width: 35px;
    height: 25px;
    background-color: transparent;
}
.header-menu{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.menu-list{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    text-align: left;
    color: #ffff
}
.menu-item{
width: 100%;
height: 100%;
}
@media (max-width: 375px){
    .closed-menu{
        width: 87%;
    }
}