.table-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-style{
    width: 80%;
    max-height: 70%;
}
.table-cell{
    border-right: 1px  solid;
    border-bottom: 1px  solid;
    border-color: #29abe2;
    padding: 2%;
}
.table-cell2{
    border-bottom: 1px  solid;
    border-color: #29abe2;
}

@media (max-width: 768px){
    .table-cell{
        border-right: 1px  solid;
        border-bottom: 1px  solid;
        border-color: #29abe2;
        word-wrap: break-word;
        font-size: 15px;
        min-width: 13vw;
    }
    
    .table-cell2{
        border-bottom: 1px  solid;
        border-color: #29abe2;
        padding: 1%;
        word-wrap: break-word;
        white-space: normal;

    }
}
@media (max-width: 425px){
    .table-cell{
        border-right: 1px  solid;
        border-bottom: 1px  solid;
        border-color: #29abe2;
        word-wrap: break-word;
        font-size: 15px;
        min-width: 13vw;
    }
    
    .table-cell2{
        border-bottom: 1px  solid;
        border-color: #29abe2;
        padding: 1%;
        word-wrap: break-word;
        white-space: normal;

    }
}